# Dynamically load the shared library and register C++ functions
useDynLib(cmpp, .registration = TRUE)

# Export C++ functions that you want to make available in R
export(Initialize)
export(cdf_gomp)
export(pdf_gomp) 
export(GetDim)
export(LogLike1)
export(compute_grad)
export(makeMat)
export(Cleanup)
export(compute_hessian)
export(estimate_parameters)
export(bootstrap_variance)
export(CIF_res1)
export(CIF_Figs)
export(f_pdf_rcpp)
export(F_cdf_rcpp)
export(log_f_rcpp)
export(compute_log_f_gradient_rcpp)
export(compute_log_f_hessian_rcpp)
export(f_pdf_rcpp2)
export(F_cdf_rcpp2)
export(log_f_rcpp2)
export(compute_log_f_gradient_rcpp2)
export(f_pdf_rcpp3)
export(F_cdf_rcpp3)
export(log_f_rcpp3)
export(compute_log_f_gradient_rcpp3)
export(make_Dummy)
export(estimate_parameters_GCM)
export(estimate_parameters_POM)
export(estimate_parameters_PHM)
export(FineGray_Model)
export(GetData)
export(Cmpp_CIF)
